.dialog {
    background: #fff;
    border: 2px solid #55759a;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 2px 4px #aaa;
}
form {
    margin: 0 0 20px;
}
.dialog .title {
    font-size: 28px;
    color: #ff585d;
    padding-bottom: 10px;
    border-bottom: 1px solid #ff585d;
}
.dialog-title-padding {
    margin-bottom: 20px;
}
.dialog label.control-label {
    font-weight: bold;
}
label {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
}
label {
    display: block;
    margin-bottom: 5px;
}
.dialog input.form-input {
    height: 100%;
    padding: 6px;
    font-size: 17px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    line-height: 20px;
    color: #555;
    border-radius: 4px;
    vertical-align: middle;
    margin-bottom: 10px;
    width: 206px;
}
.btn {
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.03em;
    padding: 8px 12px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #ff585d;
    background-image: linear-gradient(to bottom, #ff585d, #b3151a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00C57C', endColorstr='#FF00784C', GradientType=0);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
input, button, select, textarea {
    font-family: Lato, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
}