.SkipToLinks-5c7d2afe6e4044dd {
  background: #00ccbc;
  display: flex;
  align-items: center;
  height: 48px;
  line-height: 48px;
  position: relative;
  margin-top: -48px;
  padding-left: 24px;
  z-index: 1;
}
[dir="rtl"] .SkipToLinks-5c7d2afe6e4044dd {
  padding-left: 0;
  padding-right: 24px;
}
.SkipToLinks-5c7d2afe6e4044dd.SkipToLinks-f7ecca3ddec5343e {
  margin-top: 0;
}
.SkipToLinks-5c7d2afe6e4044dd a {
  outline: none;
  padding: 0 24px;
}
.SkipToLinks-5c7d2afe6e4044dd a:focus {
  box-shadow: inset 0 0 0 2px #2e3333;
}
.ChatWebClientIframe-640248e35bdea000 {
  width: 100%;
  height: 100%;
  position: relative;
}
.ChatWebClient-fe62c4066d3875fe {
  position: fixed;
  box-shadow: 0 6px 20px #00000014;
  bottom: 0;
  right: 32px;
  width: 320px;
  z-index: 1000;
}
[dir="rtl"] .ChatWebClient-fe62c4066d3875fe {
  right: auto;
  left: 32px;
}
@media only screen and (max-width: 539px) {
  .ChatWebClient-fe62c4066d3875fe {
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
    width: 100%;
  }
}
.ChatWebClient-34eb37f7b620738f {
  background-color: #00b8a9;
  padding: 14px;
  text-align: center;
  position: relative;
}
.ChatWebClient-5f8fca767cd0286c,
.ChatWebClient-ca9b12b477d7821d {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
[dir="rtl"] .ChatWebClient-5f8fca767cd0286c,
[dir="rtl"] .ChatWebClient-ca9b12b477d7821d {
  right: auto;
  left: 16px;
}
.ChatWebClient-76e43c9599e513c3 {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
[dir="rtl"] .ChatWebClient-76e43c9599e513c3 {
  left: auto;
  right: 16px;
}
.ChatWebClient-9a8eaad1608d9e66 {
  height: 480px;
}
.ChatWebClient-862043bf6710ba2e {
  height: 0;
}
.ChatWebClient-22201b03ff82c1be {
  max-height: 80vh;
  transition: height 0.25s ease-in-out;
}
.CookieBanner-ffc77c5a10c52ed9 {
  position: fixed;
  z-index: 9999;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2e3333e6;
}
[dir="rtl"] .CookieBanner-ffc77c5a10c52ed9 {
  left: auto;
  right: 0;
}
.CookieBanner-9e407e598fff84cb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.CookieBanner-9e407e598fff84cb a {
  color: #fff;
  font-weight: 700;
}
.PageFooter-087d0b056a2f829b {
  display: none;
}
@media only screen and (min-width: 540px) {
  .PageFooter-087d0b056a2f829b {
    display: block;
  }
}
.PageFooter-5215af9ccd8c0806 {
  display: inline-block;
  transition-property: box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
  border-radius: 4px;
}
.PageFooter-5215af9ccd8c0806:focus-visible {
  outline: none;
  border-color: #0000;
  box-shadow: 0 0 0 2px #2e3333, 0 0 0 4px #fff;
}
.StaticNavigation-c3e9f39c931f1ec2 {
  width: 100%;
  background: #fff;
  border-radius: 3px;
  position: relative;
}
@media only screen and (min-width: 960px) {
  .StaticNavigation-c3e9f39c931f1ec2 {
    flex: 1.75 0 0;
  }
}
.StaticNavigation-c3e9f39c931f1ec2 .StaticNavigation-3f210c83ff99bca4 {
  border-bottom: 1px solid #e8ebeb;
  padding: 16px;
}
.StaticNavigation-c3e9f39c931f1ec2
  .StaticNavigation-3f210c83ff99bca4:last-child {
  border-bottom: 0;
}
.StaticNavigation-c3e9f39c931f1ec2 .StaticNavigation-5c66e742676a06ae {
  line-height: normal;
}
.StaticNavigation-c3e9f39c931f1ec2 .StaticNavigation-5c66e742676a06ae:hover {
  color: #00ccbc;
}
.optanon-show-settings-popup-wrapper {
  overflow: auto;
  height: auto;
}
.optanon-show-settings-popup-wrapper .optanon-show-settings-left,
.optanon-show-settings-popup-wrapper .optanon-show-settings-right {
  display: none;
}
.optanon-show-settings-popup-wrapper .optanon-show-settings-middle {
  border: none;
  padding-top: 0;
  background-color: #0000;
  float: none;
  height: auto;
}
.optanon-show-settings-popup-wrapper
  .optanon-show-settings-middle
  a.optanon-show-settings {
  color: #00a396 !important;
  font-family: plex-sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.optanon-show-settings-popup-wrapper
  .optanon-show-settings-middle
  a.optanon-show-settings:hover {
  color: #00ccbc !important;
}
.BottomSlant-99a8216d94b64efc {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1000px;
  background: #00ccbc;
  transform: skewY(-6deg);
  transform-origin: 50%;
}
[dir="rtl"] .BottomSlant-99a8216d94b64efc {
  transform: skewY(6deg);
}
.BottomSlant-838c88e2f53c42ff {
  background-color: #00ccbc;
}
.BottomSlant-291278ad1aa8606c {
  background-color: #007e8a;
}
.BottomSlant-38f0dd2fc1553a1e {
  background-color: #ff8100;
}
.BottomSlant-3cbda3bbbe72f12f {
  background-color: #ff483b;
}
.BottomSlant-77ed927fa6d04a9c {
  background-color: #9c006d;
}
.BottomSlant-abc83a5f84896def {
  background-color: #fabe00;
}
.BottomSlant-74fbc4ae3c8ab22e {
  background-color: #77bf2a;
}
.BottomSlant-b8478cce3c4b5942 {
  background-color: #440063;
}
.BottomSlant-11bebfec9c11ded1 {
  background-color: #8c9b9b;
}
.BottomSlant-3f43c92ecb7cbcb0 {
  background-color: #2e3333;
}
.BottomSlant-5c11dffb032b0cd2 {
  background-color: #828585;
}
.BottomSlant-6708f9318e322a4f {
  background-color: #abadad;
}
.BottomSlant-b451f555d93d9416 {
  background: linear-gradient(90deg, #6d2162, #6d216200 67%), #440063;
}
[dir="rtl"] .BottomSlant-b451f555d93d9416 {
  background: linear-gradient(-90deg, #6d2162, #6d216200 67%), #440063;
}
.AngledHeroHeader-c5db53a463c68bdf {
  position: relative;
  color: #fff;
}
.AngledHeroHeader-7e85dbb5a36c5184 {
  position: absolute;
  width: 100%;
}
.AngledHeroHeader-89055e9049bc0583 {
  position: relative;
}
.ExpandableContent-35b75514c606d7b2 {
  margin-top: 32px;
}
.ExpandableContent-3228fe399cb29beb {
  padding: 0;
  background: none;
  border: 0;
  color: #00a396;
  cursor: pointer;
}
.ExpandableContent-3228fe399cb29beb:hover {
  color: #00ccbc;
}
.StaticPage-c9084a38a42315db {
  position: relative;
}
.StaticPage-067e88ca3979b27f {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 32px;
}
@media only screen and (min-width: 960px) {
  .StaticPage-067e88ca3979b27f {
    flex-direction: row;
  }
}
.StaticPage-39f477ca75232b6b {
  position: relative;
  background: #fff;
  border-radius: 3px;
  margin: 24px 0 0;
}
@media only screen and (min-width: 960px) {
  .StaticPage-39f477ca75232b6b {
    margin: 0 0 0 24px;
    padding: 16px;
    flex: 3 0 0;
  }
  [dir="rtl"] .StaticPage-39f477ca75232b6b {
    margin: 0 24px 0 0;
  }
}
.StaticPage-39f477ca75232b6b,
.StaticPage-39f477ca75232b6b .block-img,
.StaticPage-39f477ca75232b6b img {
  width: 100%;
}
#optanon-cookie-policy .optanon-cookie-policy-group {
  margin-top: 24px;
}
#optanon-cookie-policy
  .optanon-cookie-policy-group
  .optanon-cookie-policy-cookies-used {
  font-weight: 700;
  margin-top: 16px;
}
.optanon-cookie-policy-subgroup-table {
  margin: 0 !important;
}
.optanon-cookie-policy-subgroup-table th {
  padding: 0 !important;
}
.optanon-cookie-policy-subgroup-table tr {
  border: none !important;
}
.optanon-cookie-policy-subgroup-table td.optanon-cookie-policy-left {
  display: none;
}
.optanon-cookie-policy-subgroup-table td.optanon-cookie-policy-right {
  padding: 0 !important;
  height: 0 !important;
  background-color: #fff;
}
.optanon-cookie-policy-subgroup-table
  p.optanon-cookie-policy-subgroup-table-column-header {
  display: none;
}
.optanon-cookie-policy-subgroup-table li {
  font-size: inherit !important;
}
/*# sourceMappingURL=d57be1c496a39c2e.css.map*/
